<wicket:panel>
	<form wicket:id="form">

		<div class="row">
			<div class="col-md-5">
				<select class="form-control" wicket:id="originals" size="7"></select>
			</div>
			<div class="col-md-2 text-center">
				<br/>
				<div class="row">
					<a href="#" type="button" class="btn btn-default" wicket:id="add">
						<span class="glyphicon glyphicon-arrow-right"></span>
					</a>
				</div>
				<br/>
				<div class="row">
					<a href="#" type="button" class="btn btn-default" wicket:id="remove">
						<span class="glyphicon glyphicon-arrow-left"></span>
					</a>
				</div>			
			</div>
			<div class="col-md-5">
				<select class="form-control" wicket:id="destinations" size="7"></select>
			</div>
		</div>

	</form>
</wicket:panel>
