/* **** AGREGADO PARA QUE EN LOS PAGINADOS SE MUESTRE CON DISTINTO ESTILA LA PAGINA ACTUAL **** */
span.goto [disabled] {
	text-decoration: underline;
}

.overlay {
	background: #e9e9e9;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	z-index: 99;
}

.spinner-page-centered {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	z-index: 100;
}
